.jumbotron {
    padding-top: 6rem ;
    background-color: gray;
    color: aliceblue;
}

body {
    min-height: 2000px;
}

#project {
    background-color: gray;
}
#scai {
    padding-top: 2rem;
}
#studi{
    padding-top: 4rem;
}
#scds{
    padding-top: 15rem;
}
#dicoding {
    padding-top: 4rem;
}
#alibaba {
    padding-top: 4rem;
}